@model EduTube.GUI.ViewModels.SearchViewModel

@{
   ViewData["Title"] = "Search";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
   <link href="~/css/SearchPage.css" rel="stylesheet" />
 }
<div class="container">
   <div class="greyBackground">
      <input type="hidden" id="search_query" value="@Model.SearchQuery" />
      <input type="hidden" id="videosCount" value="@Model.Videos.Count" />
      <input type="hidden" id="usersCount" value="@Model.Users.Count" />
      <div id="tabs">
         <div class="col-6 text-center blackBackground tabsDiv tabsDivActiv leftBorderRadius" id="videosTab">
            <button class="whiteColor" onclick="OpenTab('videos')">Videos</button>
         </div>
         <div class="col-6 text-center blackBackground tabsDiv" id="usersTab">
            <button class="whiteColor" onclick="OpenTab('users')">Users</button>
         </div>
      </div>
      <div id="mainTabDiv">
         <div id="videosDiv">
            @if (Model.Videos != null)
            {
               @foreach (var video in Model.Videos)
               {
                  <div class="videoDiv">
                     <a href="/Videos/@video.Id">
                        <div class="videoThumbnailsDiv">
                           <img class="videoThumbnails" src="@video.Thumbnail" />
                        </div>
                     </a>
                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <a href="/Videos/@video.Id">
                           <p class="searchVideoName" title="@video.Name">
                              @Html.Raw(video.Name)
                           </p>
                        </a>
                        <span class="searchVideoOwner">
                           <a href="/Users/@video.UserChannelName.Replace(" ", "-")">@video.UserChannelName</a>     @video.DateCreatedOn.ToShortDateString()
                        </span>
                        <p class="searchTags">
                           Tags: @video.Tags
                        </p>
                     </div>
                     <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
                        <div class="searchVideoDescription">
                           @Html.Raw(video.Description)
                        </div>
                     </div>
                  </div>
                  <div class="breakLineWhite"></div>
               }
               @if (Model.Videos.Count == 0)
               {
                  <h4 class="text-center">No available videos</h4>
               }
            }
            @if (Model.Videos == null)
            {
               <h4 class="text-center">No available videos</h4>
            }
         </div>
         <div id="usersDiv">
            <div class="container" id="usersContainer">
               @if (Model.Users != null)
               {
                  @foreach (var user in Model.Users)
                  {

                     <div class="display-inline-block userDiv">
                        <a href="/Users/@user.ChannelName.Replace(" ", "-")">
                           <div class="userProfileImageDiv">
                              <img src="~/profileImages/@user.ProfileImage" />
                           </div>
                           <h4 class="overflow text-center">@user.ChannelName</h4>
                        </a>
                     </div>
                  }

                  @if (Model.Users.Count() == 0)
                  {
                     <h4 class="text-center">No available users</h4>
                  }
               }
               @if (Model.Users == null)
               {
                  <h4 class="text-center">No available users</h4>
               }
            </div>
         </div>
         @if (Model.Videos?.Count == 10)
         {
            <div class="showMoreDiv" id="showMoreVideosDiv">
               <a class="showBtn orangeBtn btn showMore" id="showMoreVideos" onclick="ShowMoreVideos()">Show More</a>
            </div>
         }
         @if (Model.Users?.Count == 10)
         {
            <div class="showMoreDiv" id="showMoreUsersDiv">
               <a class="showBtn orangeBtn btn showMore" id="showMoreUsers" onclick="ShowMoreUsers()">Show More</a>
            </div>
         }
      </div>
   </div>
</div>
@section Scripts{
   <script src="~/js/Search.js"></script>
}