@model IEnumerable<EduTube.BLL.Models.VideoModel>
@{
   ViewData["Title"] = "Home Page";
}

@section Styles{ }


<h4>Popular videos</h4>
<div class="row">
   @foreach (var video in Model)
   {
      <div class="col-lg-2">
         <a href="/Videos/@video.Id">
            <img src="@video.Thumbnail" class="videoThumbnails" />
            <p class="text-white videoName" title="@video.Name">@video.Name</p>
         </a>
         <a href="/Users/@video.UserChannelName.Replace(" ", "-")">
            <p class="text-white fontSize08">@video.UserChannelName</p>
         </a>
         <p class="fontSize08">@video.DateCreatedOn.ToString("yyyy-MM-dd hh:mm")</p>
      </div>
   }
</div>

<h4 style="margin-top: 2rem;" id="firstRecommendedHeading"></h4>
<div class="row" id="firstRecommendedVideosRow">
</div>
<h4 style="margin-top: 2rem;" id="secondRecommendedHeading"></h4>
<div class="row" id="secondRecommendedVideosRow">
</div>

@section Scripts{
   <script src="~/js/HomePage.js"></script>
}