@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - EduTube</title>

   <environment include="Development">
      <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
   </environment>
   <environment exclude="Production">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
   </environment>
   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   <link href="~/mdb/css/mdb.css" rel="stylesheet" />
   <link rel="stylesheet" href="~/css/site.css" />
   <link href="~/tagInput/jquery.tagsinput-revisited.css" rel="stylesheet" />
   @RenderSection("Styles", required: false)
</head>
<body>
   <header>
      <!--What does this do exactly? Well it loads font awesome via javascript which is placed at the head of the page.
         Basically we are rendering font awesome before rendering the page which means it should load quicker.-->
      <script type="text/javascript">(function () { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>

      <nav class="navbar navbar-expand-lg navbar-toggleable-sm box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/logo.png" style="height: 6rem" />
				</a>
				<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						  aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
               @if (Context.User.Identity.IsAuthenticated)
               {
                  <input type="hidden" id="userLoggedIn" value="true" />
                  <input type="hidden" id="currentUser" value="@User.Claims.FirstOrDefault(x => x.Type.Equals("id")).Value" />
                  <ul class="navbar-nav ml-auto nav-flex-icons">
                     <li class="nav-item avatar dropdown dropleft">
                        <a class="nav-link " id="notificationsIcon" data-toggle="dropdown" aria-expanded="false">
                           <div class="notification"></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-left greyBackground" aria-labelledby="notificationsIcon" id="notificationsDiv">
                           <input type="hidden" id="lastNotificationId" />
                        </div>
                        <div id="newNotificationsDiv">

                        </div>
                     </li>

                     <li class="nav-item avatar dropdown">
                        <a class="nav-link " id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-expanded="false">
                           <div id="profileImageNavbarDiv">
                              <img src="~/profileImages/@User.Claims.FirstOrDefault(x => x.Type.Equals("profileImage"))?.Value" />
                           </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-right greyBackground"
                             aria-labelledby="navbarDropdownMenuLink-55" id="userMenuDropdown">
                           <a class="dropdown-item" href="/Users/@User.Claims.FirstOrDefault(x => x.Type.Equals("channelName"))?.Value.Replace(" ", "-")"><i class='far fa-user'></i> My profile</a>
                           <a class="dropdown-item" href="/Chats"><i class="fa fa-envelope"></i> Chat rooms</a>
                           <div class="breakLineWhite"></div>
                           <a class="dropdown-item" href="/Notifications"><i class="fas fa-bell"></i> Notifications</a>
                           <div class="breakLineWhite"></div>
                           @if (User.Claims.FirstOrDefault(x => x.Type.Equals("role")).Value.Equals("Admin"))
                           {
                              <a class="nav-link" asp-area="" asp-controller="AdminUsers" asp-action="Index"><i class='fas fa-users'></i> Admin page</a>
                              <div class="breakLineWhite"></div>
                              <a class="nav-link" asp-area="" asp-controller="Emojis" asp-action="Index"><i class='fas fa-laugh'></i> Emoji page</a>
                              <div class="breakLineWhite"></div>
                           }
                           <a class="dropdown-item" href="/Logout"><i class="fa fa-sign-out"></i> Log out</a>
                        </div>
                     </li>
                  </ul>
               }
               @if (!Context.User.Identity.IsAuthenticated)
               {
                  <input type="hidden" id="userLoggedIn" value="false" />
                  <a class="nav-link" href="/Register">Register</a>
                  <a class="nav-link" href="/Login?redirectUrl=@Context.Request.Path"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
               }
               <div class="nav navbar-nav navbar-right">
                  <div class="input-group">
                     <input class="form-control mr-sm-2" type="search" placeholder="Search" id="searchInput" aria-label="Search">
                  </div>
               </div>
               <ul class="navbar-nav flex-grow-1"></ul>
            </div>
			</div>
      </nav>
   </header>
   <div class="container-fluid" id="mainBodyDiv">
      <partial name="_CookieConsentPartial" />
      <main role="main" class="pb-3">
         @RenderBody()
      </main>
   </div>

   <footer class="border-top footer text-muted">
      <div class="container">
         &copy; 2019 - EduTube
      </div>
   </footer>

   <environment include="Development">
      <script src="~/lib/jquery/dist/jquery.js"></script>
      <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
   </environment>
   <environment exclude="Development">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
              asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
              asp-fallback-test="window.jQuery"
              crossorigin="anonymous"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
              asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
              asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
              crossorigin="anonymous"
              integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
      </script>
   </environment>
   <script src="~/js/site.js" asp-append-version="true"></script>

   <script src="~/mdb/js/mdb.js"></script>
   <script src="~/mdb/js/popper.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
   <script src="~/tagInput/jquery.tagsinput-revisited.js"></script>
   <script src="https://kit.fontawesome.com/b2138d02f2.js"></script>
   @RenderSection("Scripts", required: false)
</body>
</html>
