@model EduTube.GUI.ViewModels.UserProfileViewModel
@{
   ViewData["Title"] = "Profile";
}

@section Styles{
   <link href="~/css/ProfilePage.css" rel="stylesheet" />
   <link href="~/css/DeleteDialog.css" rel="stylesheet" />
}
<div class="row">
   <input type="hidden" value="@Model.Id" id="userIdHidden" />
   <!--Div for user info-->
   <div class="col-lg-3 col-md-3 col-sm-12 text-center">
      <div id="profileImageDiv">
         <img id="profileImage" src="~/profileImages/@Model.ProfileImage" />
      </div>
      <div class="row">
         <div class="col-12">
            <h4>@Model.ChannelName</h4>
         </div>
         <div class="col-12">
            <h5 class="purpleColorTxt" id="userName">@Model.Firstname @Model.Lastname</h5>
         </div>
         <div class="col-12">
            @if (ViewBag.Subscribed != "SameUser")
            {
               <input type="hidden" value="@ViewBag.Subscribed" id="subscribedHidden" />
               <button class="purpleBtn" onclick="Subscribe()" id="subscribeBtn">Subscribe</button>
            }
         </div>
         <div class="col-12 float-right">
            @if (User.Identity.IsAuthenticated)
            {
               @if (ViewBag.Subscribed == "SameUser" || User.Claims.FirstOrDefault(x => x.Type.Equals("role")).Value.Equals("Admin"))
               {
                  <button class="dotBtn" onclick="OpenMenu()">
                     <div class="dotMenu float-right">
                     </div>
                  </button>
                  <div class="greyBackground float-right" id="profileOptios">
                     <button class="transparentBtn menuBtn" id="" onclick="RedirectTo('/Users/Edit/@Model.Id')"><i class='fa fa-edit'></i> Edit profile</button>
                     <button class="transparentBtn menuBtn" id="" onclick="RedirectTo('/Users/ChangePassword/@Model.Id')"><i class='fa fa-lock'></i> Change password</button>

                     @if (User.Claims.FirstOrDefault(x => x.Type.Equals("role")).Value.Equals("Admin"))
                     {
                        @if (Model.Role.Equals("User"))
                        {
                           <button class="transparentBtn menuBtn" id="promote_@Model.Id" onclick='Promote("@Model.Id")'><i class='fa fa-level-up'></i> Promote profile</button>
                           <button hidden class="transparentBtn menuBtn" id="demote_@Model.Id" onclick='Demote("@Model.Id")'><i class='fa fa-level-down'></i> Demote profile</button>
                        }
                        @if (Model.Role.Equals("Admin"))
                        {
                           <button hidden class="transparentBtn menuBtn" id="promote_@Model.Id" onclick='Promote("@Model.Id")'><i class='fa fa-level-up'></i> Promote profile</button>
                           <button class="transparentBtn menuBtn" id="demote_@Model.Id" onclick='Demote("@Model.Id")'><i class='fa fa-level-down'></i> Demote profile</button>
                        }

                        @if (Model.Blocked)
                        {
                           <button class="transparentBtn menuBtn" onclick='Unblock("@Model.Id")' id="unblock_@Model.Id"><i class='fa fa-ban'></i> Unblock profile</button>
                           <button hidden class="transparentBtn menuBtn" onclick='Block("@Model.Id")' id="block_@Model.Id"><i class='fa fa-ban'></i> Block profile</button>
                        }
                        @if (!Model.Blocked)
                        {
                           <button class="transparentBtn menuBtn" onclick='Block("@Model.Id")' id="block_@Model.Id"><i class='fa fa-ban'></i> Block profile</button>
                           <button hidden class="transparentBtn menuBtn" onclick='Unblock("@Model.Id")' id="unblock_@Model.Id"><i class='fa fa-ban'></i> Unblock profile</button>
                        }
                     }
                     <button class="transparentBtn menuBtn" id="" onclick='DeleteUser("@Model.Id")'><i class='fa fa-trash-alt'></i> Delete profile</button>
                  </div>
               }
            }
         </div>
         @if (User.Identity.IsAuthenticated)
         {

            @if (ViewBag.Subscribed == "SameUser" || User.Claims.FirstOrDefault(x => x.Type.Equals("role")).Value.Equals("Admin"))
            {
               @if (Model.Blocked)
               {
                  <div class="col-12">
                     <h4>This account is blocked</h4>
                  </div>
               }
            }
         }
         <div class="col-12">
            <p id="margin-top">@Model.ChannelDescription</p>
         </div>
      </div>
   </div>
   <!--Div for user videos, subscribers-->
   <div class="col-lg-9 col-md-9 col-sm-12 greyBackground">
      <div id="tabs">
         <div class="col-4 text-center blackBackground tabsDiv tabsDivActiv leftBorderRadius" id="videosTab">
            <button class="whiteColor" onclick="OpenTab('videos')">Videos</button>
         </div>
         <div class="col-4 text-center blackBackground tabsDiv" id="subscribersTab">
            <button class="whiteColor" onclick="OpenTab('subscribers')">Subscribers</button>
         </div>
         <div class="col-4 text-center blackBackground tabsDiv rightBorderRadius" id="subscribedOnTab">
            <button class="whiteColor" onclick="OpenTab('subscribedOn')">Subscribed on</button>
         </div>
      </div>
      <div id="mainTabDiv">
         <div id="videosDiv">
            <div class="row">
               @if (ViewBag.Subscribed == "SameUser")
               {
                  <div class="col-12" id="addVideoDiv">
                     <button onclick="RedirectTo('/videos/Create')" class="greenBtn float-right" id="addVideoBtn">Add video</button>

                  </div>
               }
            </div>
            <div id="userVideosDiv">
               @if (Model.Videos != null)
               {
                  @foreach (var video in Model.Videos)
                  {
                     <div class="display-inline-block videoDiv">
                        <a href="/Videos/@video.Id">
                           <div class="videoThumbnailsDiv">
                              <img class="videoThumbnails" src="@video.Thumbnail" />
                              <p class="bottom-right greyBackground" id="videoDuration">@video.Duration</p>
                           </div>
                           <p class="videoName" title="@video.Name">
                              @video.Name
                           </p>
                           <p class="fontSize08">
                              @video.DateCreatedOn.ToString("yyyy-MM-dd hh:mm")
                           </p>
                        </a>
                     </div>
                  }
                  @if (Model.Videos.Count == 0)
                  {
                     <h4 class="text-center">@Model.ChannelName does not have videos</h4>
                  }
               }
               @if (Model.Videos == null)
               {
                  <h4 class="text-center">He does not have videos</h4>
               }
            </div>
         </div>
         <div id="subscribersDiv">
            <div class="container">
               @if (Model.Subscribers != null)
               {
                  @foreach (var subscriber in Model.Subscribers)
                  {

                     <div class="display-inline-block subsDiv" id="subscriber_@subscriber.Subscriber.ChannelName.Replace(" ", "-")">
                        <a href="/Users/@subscriber.Subscriber.ChannelName.Replace(" ", "-")">
                           <div class="subProfileImageDiv">
                              <img id="subProfileImage" src="~/profileImages/@subscriber.Subscriber.ProfileImage" />
                           </div>
                           <h4 class="overflow text-center">@subscriber.Subscriber.ChannelName</h4>
                        </a>
                     </div>
                  }

                  @if (Model.Subscribers.Count() == 0)
                  {
                     <h4 class="text-center">No one subscribed to @Model.ChannelName</h4>
                  }
               }
               @if (Model.Subscribers == null)
               {
                  <h4 class="text-center">No one subscribed to @Model.ChannelName</h4>
               }
            </div>
         </div>
         <div id="subscribedOnDiv">
            <div class="container">
               @if (Model.SubscribedOn != null)
               {
                  @foreach (var subscriber in Model.SubscribedOn)
                  {
                     <div class="display-inline-block subsDiv" id="subscribedOn_@subscriber.SubscribedOn.ChannelName.Replace(" ", "-")">
                        <a href="/Users/@subscriber.SubscribedOn.ChannelName.Replace(" ", "-")">
                           <div class="subProfileImageDiv">
                              <img id="subProfileImage" src="~/profileImages/@subscriber.SubscribedOn.ProfileImage" />
                           </div>
                           <h4 class="overflow text-center">@subscriber.SubscribedOn.ChannelName</h4>
                        </a>
                     </div>
                  }
                  @if (Model.SubscribedOn.Count() == 0)
                  {
                     <h4 class="text-center">@Model.ChannelName Did not subscribe to any channel</h4>
                  }
               }
               @if (Model.SubscribedOn == null)
               {
                  <h4 class="text-center">@Model.ChannelName Did not subscribe to any channel</h4>
               }
            </div>
         </div>
      </div>
   </div>
</div>

<!--information modal-->
<div>
   <!-- The Modal -->
   <div class="modal fade" id="informationModal">
      <div class="modal-dialog">
         <div class="modal-content greyBackground">

            <!-- Modal Header -->
            <div class="modal-header" style="border: none;">
               <h4 class='col-12 modal-title text-center' id="informationHeading">
                  <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                     <span aria-hidden='true'>&times;</span>
                  </button>
               </h4>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Div for deleting user-->
<div class="modal hide" id="deleteUserDialog" role="dialog" aria-hidden="true"></div>

@section Scripts{
   <script src="~/js/Subscribe.js"></script>
   <script src="~/js/ProfilePage.js"></script>
}