@model EduTube.GUI.ViewModels.VideoViewModel
@{
   ViewData["Title"] = Model.Name;
   Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
   <link href="~/selectivity-3.1.0/selectivity.min.css" rel="stylesheet" />
   <link href="~/selectivity-3.1.0/selectivity-jquery.min.css" rel="stylesheet" />
   <link href="~/css/SingleVideo.css" rel="stylesheet" />
   <link href="~/css/EditVideoModal.css" rel="stylesheet" />
}
<div class="container">
   <input type="hidden" id="allowAccess" value="@ViewData["allowAccess"]" />
   <input type="hidden" asp-for="Visibility" id="videoVisibility" />
   <div class="row" id="firstDiv">
      <!--Div with video player-->
      <div class="col-12">
         <input type="hidden" id="videoId" value="@Model.Id" />
         @if (Model.YoutubeUrl != null && Model.YoutubeUrl != "")
         {
            <iframe id="videoPlayer" class="widthInherit" height="550" src="@Model.YoutubeUrl" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
         }
         @if (Model.FileName != null && Model.FileName != "")
         {
            <video controls id="videoPlayer" class="widthInherit">
               <source src="~/videos/@Model.FileName" type="video/mp4">
               Your browser does not support HTML5 video.
            </video>
         }
      </div>
      <!--Div with video name and view count-->
      <div class="col-12">
         <div class="inheritDiv">
            <h4 class="float-left" style="margin-right:1em;">@Model.Name</h4>
            <h5 class="float-right" id="viewsCount"></h5>
         </div>
      </div>
      <!--Div with hashtags and emoji-->
      <div class="col-12 inheritDiv">
         <div class="col-lg-3 col-md-3 col-sm-12 noPadding">
            <span class="breakWord"><strong>Hashtags: </strong>@Model.Tags</span>
         </div>
         <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 noPadding">
            <div class="row justify-content-center" id="emojisDiv">
               <div>
                  <button class="emojiBtn" onclick="Reaction(1, @Model.Id, null)" id="emojiBtn1">
                     <img src="~/images/likeEmoji.png" id="emoji1" class="" />
                     <h6 class="whiteColor moveLeft" id="emojiCount1">@Model.Reactions?.Where(x => x.EmojiId == 1).Count()</h6>
                  </button>
               </div>
               <div>
                  <button class="emojiBtn" onclick="Reaction(3, @Model.Id, null)" id="emojiBtn3">
                     <img src="~/images/loveEmoji.png" id="emoji3" class="" />
                     <h6 class="whiteColor moveLeft" id="emojiCount3">@Model.Reactions?.Where(x => x.EmojiId == 3).Count()</h6>
                  </button>
               </div>
               <div>
                  <button class="emojiBtn" onclick="Reaction(5, @Model.Id, null)" id="emojiBtn5">
                     <img src="~/images/LaughtEmoji.png" id="emoji5" class="" />
                     <h6 class="whiteColor moveLeft" id="emojiCount5">@Model.Reactions?.Where(x => x.EmojiId == 5).Count()</h6>
                  </button>
               </div>
               <div>
                  <button class="emojiBtn" onclick="Reaction(4, @Model.Id, null)" id="emojiBtn4">
                     <img src="~/images/wowEmoji.png" id="emoji4" class="" />
                     <h6 class="whiteColor moveLeft" id="emojiCount4">@Model.Reactions?.Where(x => x.EmojiId == 4).Count()</h6>
                  </button>
               </div>
               <div>
                  <button class="emojiBtn" onclick="Reaction(6, @Model.Id, null)" id="emojiBtn6">
                     <img src="~/images/sadEmoji.png" id="emoji6" class="" />
                     <h6 class="whiteColor moveLeft" id="emojiCount6">@Model.Reactions?.Where(x => x.EmojiId == 6).Count()</h6>
                  </button>
               </div>
               <div>
                  <button class="emojiBtn" onclick="Reaction(7, @Model.Id, null)" id="emojiBtn7">
                     <img src="~/images/angry2Emoji.png" id="emoji7" class="" />
                     <h6 class="whiteColor moveLeft" id="emojiCount7">@Model.Reactions?.Where(x => x.EmojiId == 7).Count()</h6>
                  </button>
               </div>
               <div>
                  <button class="emojiBtn" onclick="Reaction(2, @Model.Id, null)" id="emojiBtn2">
                     <img src="~/images/dislikeEmoji.png" id="emoji2" class="" />
                     <h6 class="whiteColor moveLeft" id="emojiCount2">@Model.Reactions?.Where(x => x.EmojiId == 2).Count()</h6>
                  </button>
               </div>
            </div>
         </div>
         <input type="hidden" id="reactionHidden" value="@Model.UserReactionOnVideo" />
      </div>
      <!--Break line-->
      <div class="col-12">
         <div class="breakLine"></div>
      </div>
      <!--Div with owner and description-->
      <div class="col-12" id="ownerInfo">
         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div id="profileImageDiv">
               <img src="/profileImages/@Model.OwnerProfileImage" />
            </div>
         </div>
         <!--Div with video description-->
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 noPadding ">
            <div class="">
               <h4>@Model.OwnerChannelName</h4>
               <span>@Model.DateCreatedOn</span>
            </div>
            <div class="panel-wrapper">
               <a href="#show" class="show orangeBtn btn" id="show">Show More</a>
               <a href="#hide" class="hide grayBtn btn" id="hide">Show Less</a>
               <div class="panel">
                  @Model.Description
               </div><!-- end panel -->
            </div><!-- end panel-wrapper -->
         </div>
         <!--Div with buttons for edit, delete i subscribe-->
         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 noPadding">
            <div class="noPadding">
               @if (User.Identity.IsAuthenticated)
               {
                  @if (Model.OwnerChannelName.Equals(User.Claims.FirstOrDefault(x => x.Type.Equals("channelName")).Value))
                  {
                     <button class="greenBtn position-initial fillAvailable" id="btnSubscribeOwner" onclick="OpenEditVideoModal()">Edit info</button>
                     <button class="redBtn position-initial fillAvailable margin-top" id="btnSubscribeOwner" onclick="DeleteVideo(@Model.Id)">Delete video</button>
                  }
                  @if (!Model.OwnerChannelName.Equals(User.Claims.FirstOrDefault(x => x.Type.Equals("channelName")).Value))
                  {
                     <button class="purpleBtn position-initial" id="btnSubscribeOwner">Subscribe</button>
                  }
               }
               @if (!User.Identity.IsAuthenticated)
               {
                  <a href="/Login?redirectUrl=/Videos/@Model.Id" class="purpleBtn position-initial" id="btnSubscribeOwner">Subscribe</a>
               }
            </div>
         </div>
      </div>
      <!--Break line-->
      <div class="col-12" id="breakAfterOwner">
         <div class="breakLine"></div>
      </div>
      <!--Comments not allowed-->
      @if (Model.AllowComments != true)
      {
         <div class="col-12 text-center">
            <h4>@Model.OwnerChannelName does not allow comments</h4>
         </div>
      }
      <!--Comments allowed-->
      @if (Model.AllowComments == true)
      {
         <!--Div for creating new comment-->
         <div class="col-12 inheritDiv">
            <div class="inline-flex widthInherit">
               <div class="commentImageDiv">
                  @if (Context.User.Identity.IsAuthenticated)
                  {
                     @if (User.Claims.FirstOrDefault(x => x.Type.Equals("channelName")).Value != "")
                     {
                        <img src="/profileImages/@Model.OwnerProfileImage" />
                     }
                     @if (User.Claims.FirstOrDefault(x => x.Type.Equals("channelName")).Value == "")
                     {
                        <img src="~/profileImages/default-avatar.png" />
                     }
                  }
                  @if (!Context.User.Identity.IsAuthenticated)
                  {
                     <img src="~/profileImages/default-avatar.png" />
                  }
               </div>
               <div class="container noPadding">
                  <textarea class="autofit" placeholder="Enter comment here..." id="newComment"></textarea>
                  <div class="inline-flex float-right">
                     <button class="grayBtn" id="cancelComment" onclick="ResetTextarea()">Cancel</button>
                     @if (Context.User.Identity.IsAuthenticated)
                     {
                        <button class="orangeBtn" id="saveComment" onclick="CreateComment(@Model.Id)">Save</button>
                     }
                     @if (!Context.User.Identity.IsAuthenticated)
                     {
                        <button class="orangeBtn" id="saveComment" onclick="RedirectToLogin(@Model.Id)">Save</button>
                     }
                  </div>
               </div>
            </div>
         </div>
         <!--Div with all comments-->
         <div class="col-12 noPadding margin-top" id="commentsDiv">
            @if (Model.Comments?.Any() == true)
            {
               @foreach (var comment in Model.Comments)
               {
                  <div class="col-12 comment_@comment.Id">
                     <div class="row">
                        <div class="col-1">
                           <a href="/Users/@comment.OwnerChannelName.Replace(" ", "-")">
                              <div class="commentImageDiv">
                                 <img src="/profileImages/@comment.OwnerProfileImage" />
                              </div>
                           </a>
                        </div>
                        <div class="col-11">
                           <div class="row">
                              <div class="col-8">
                                 <span><a href="/Users/@comment.OwnerChannelName.Replace(" ", "-")"><strong>   @comment.OwnerChannelName</strong></a> @comment.DateCreatedOn</span>
                              </div>
                              @if (Context.User.Identity.IsAuthenticated)
                              {
                                 @if (User.Claims.FirstOrDefault(x => x.Type.Equals("channelName")).Value.Equals(comment.OwnerChannelName) || User.Claims.FirstOrDefault(x => x.Type.Equals("role")).Value.Equals("ADMIN"))
                                 {
                                    <div class="col-4">
                                       <button class="dotBtn" onclick="showCommentOptionDiv(@comment.Id)">
                                          <div class="dotMenu float-right">
                                          </div>
                                       </button>
                                       <div class="commentsOptionsDiv float-right" style="display: none;" id="commentOptionsDiv_@comment.Id">
                                          <div class="hoverGray"><button class="transparentBtn" onclick="MakeCommentEditable(@comment.Id)">Edit <i class='fas fa-edit'></i></button></div>
                                          <div class="hoverGray"><button class="transparentBtn" onclick="DeleteComment(@comment.Id)">Delete <i class='far fa-trash-alt'></i></button></div>
                                       </div>
                                    </div>
                                 }
                              }
                              <div class="col-12" id="commentContentDiv_@comment.Id">
                                 <span id="commentContentSpan_@comment.Id">@comment.Content</span>
                              </div>
                           </div>
                           <div class="col-12 inline-flex noPadding">
                              <div>
                                 <button class="commentEmojiBtn" onclick="Reaction(1, null, @comment.Id)" id="emojiBtn1">
                                    <img src="~/images/likeEmoji.png" id="commentEmoji1_@comment.Id" class="" />
                                    <h6 class="whiteColor moveLeft" id="emojiCount1Comment_@comment.Id">@comment.Reactions?.Where(x => x.EmojiId == 1).Count()</h6>
                                 </button>
                              </div>
                              <div>
                                 <button class="commentEmojiBtn" onclick="Reaction(2, null, @comment.Id)" id="emojiBtn1">
                                    <img src="~/images/dislikeEmoji.png" id="commentEmoji2_@comment.Id" class="" />
                                    <h6 class="whiteColor moveLeft" id="emojiCount2Comment_@comment.Id">@comment.Reactions?.Where(x => x.EmojiId == 2).Count()</h6>
                                 </button>
                              </div>
                           </div>
                           <div class="float-right displayNone" id="editCommentBtnDiv_@comment.Id">
                              <button class="grayBtn" id="cancelComment" onclick="CancelCommentEdit(@comment.Id)">Cancel</button>
                              <button class="orangeBtn" id="saveComment" onclick="EditComment(@comment.Id)">Save</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 comment_@comment.Id" id="breakAfterOwner">
                     <div class="breakLine"></div>
                  </div>
               }
            }
         </div>
      }
      <!--Hidden div for current user reactions-->
      <div class="col-12" id="userReactionsCommentDiv">
         @foreach (var item in Model.UserReactionOnComments)
         {
            <input type="hidden" value="@item.CommentId" class="userReactionsComentId" id="userReactionCommentId_@item.CommentId" />
            <input type="hidden" value="@item.EmojiId" id="userReactionEmojiId_@item.CommentId" />
         }
      </div>
      <!--Div with modal dialog for editing video-->
      <div>
         <!-- The Modal -->
         <div class="modal fade" id="editVideoModal">
            <div class="modal-dialog">
               <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                     <h4 class='col-12 modal-title text-center'>
                        Edit Video: @Model.Name
                        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                           <span aria-hidden='true'>&times;</span>
                        </button>
                     </h4>
                  </div>
                  <form method="post" asp-action="Edit" asp-controller="Videos">
                     <!-- Modal body -->
                     <div class="modal-body">
                        <div class="form-group">
                           <input type="hidden" asp-for="Id" />
                           <label asp-for="Name" class="col-form-label whiteColor"></label>
                           <input asp-for="Name" class="form-control" id="firstname" />
                           <span asp-validation-for="Name" style="color:red;" id="firstnameError"></span>
                        </div>
                        <div class="form-group" style="width: -webkit-fill-available">
                           <label asp-for="Description" class="col-form-label whiteColor"></label>
                           <textarea asp-for="Description" class="form-control widthInherit" id="firstname" rows="20"></textarea>
                           <span asp-validation-for="Description" style="color:red;" id="firstnameError"></span>
                        </div>
                        <div class="form-group">
                           <label asp-for="AllowComments" class="col-form-label whiteColor"></label>
                           <input asp-for="AllowComments" class="form-control" id="firstname" />
                           <span asp-validation-for="AllowComments" style="color:red;" id="firstnameError"></span>
                        </div>
                        <div class="form-group">
                           <label asp-for="Tags" class="col-form-label whiteColor"></label>
                           <input asp-for="Tags" class="form-control" id="firstname" />
                           <span asp-validation-for="Tags" style="color:red;" id="firstnameError"></span>
                        </div>
                        <div class="form-group">
                           <label asp-for="Visibility" class="col-form-label whiteColor"></label>
                           <div>
                              <input type="radio" id="Public" name="Visibility" value="Public"
                                     checked>
                              <label for="huey">Public</label>
                           </div>

                           <div>
                              <input type="radio" id="Private" name="Visibility" value="Private">
                              <label for="dewey">Private</label>
                           </div>

                           <div>
                              <input type="radio" id="Invitation" name="Visibility" value="Invitation">
                              <label for="louie">Invitation</label>
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="col-form-label whiteColor">Inivite code</label>
                           <input name="InviteCode" class="form-control" placeholder="invite code" id="firstname" />
                        </div>
                     </div>
                     <!-- Modal footer -->
                     <div class="modal-footer inheritDiv noPadding">
                        <div class="col-12 noPadding modalDialogBtnDiv">
                           <button type="button" class="redBtn float-left" id="editVideoBtn" data-dismiss="modal">Close</button>
                           <button type="submit" class="greenBtn float-right" id="saveVideoBtn">Save</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--Div with modal dialog for invite code-->
   <div>
      <!-- The Modal -->
      <div class="modal fade" id="inviteCodeDialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header">
                  <h4 class='col-12 modal-title text-center'>
                     @Model.Name
                  </h4>
               </div>
               <!-- Modal body -->
               <div class="modal-body" style="height: 12rem !important;">
                  <div class="col-12">
                     <h5 class="text-center">You need invatation code to see this video</h5>
                  </div>
                  <div class="col-12">
                     <input class="form-control" placeholder="Invatation code" id="invatationCode" />
                     <span style="color:red;" id="invitationCodeError"></span>
                  </div>
                  <div class="col-12">
                     <button class="purpleBtn" id="invatationCodeBtn" onclick="CheckInvitationCode()">Submit</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
@section Scripts{
   <script src="~/selectivity-3.1.0/selectivity.min.js"></script>
   <script src="~/selectivity-3.1.0/selectivity-jquery.min.js"></script>
   <script src="~/js/VideoPage.js"></script>
}
